<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Smoke Suite">
  <test thread-count="5" name="SmokeTests">
    <classes>
      <class name="tests.VerifySignOff"/>
      <class name="tests.VerifyHomepageLinks"/>
      <class name="tests.RegisterNewTours"/>
      <class name="tests.VerifySignIn"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
